*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

html{
    scroll-behavior: smooth;cursor: default;
    -webkit-tap-highlight-color:transparent;
    
}

body{
    
    height: 100%;
    width: 100%;
    background-color: #151515;
    overflow-x: hidden;
}

.main{
    overflow: hidden;
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
  }
  
  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.greyBack{
    background-color: #C4C4C4;
    position: absolute;
    height: 150vh;
    width: 60%;
    transform: rotate(10deg);
    top: -28vh;
    left: -14vw;
}

.navbar{
    display:flex;
    position: fixed;
    justify-content: flex-start;
    align-content: center;
    width: 100vw;
    height: 15vh;
    z-index: 100;
}
.left-nav{
    height: 100%;
    width: 40vw;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5vw;
}
.home-btn{
    font-size: 3vw;
    color: black;

}
.right-nav{
    height: 100%;
    width: 60vw;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5vw;
}
.mobile-nav{
    display: none;
}
.nav-btn{
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    background-color: transparent;
    text-decoration: none;
    height: 5vh;
    width: 10vw;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 1.1vw;
    align-content: center;
}
.x{
    color: black;
    background-color: white;
    height: 6vh;
    width: 10vw;
    border: 1px solid transparent;
    border-radius: 20px;    
    text-align: center;
    font-size: 1.1vw;
}
.right-nav i{
    color: white;
    font-weight: 600;
    font-size: 2rem;
    display: none;
}
.content{
    display: flex;
    position: relative;
    margin-top: 20vh;
    height: calc(100vh - 20vh);
    width: 100%;
    align-items: center;
}

.leftdiv{
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.self{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.name{
    font-family: "Montserrat", sans-serif;
    font-size: 3.3vw;
    padding-bottom: .4rem;
    cursor: pointer;
    background-color: transparent;
}
.hi{
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    cursor: pointer;
    
   
}
.role{
    font-family: "Montserrat", sans-serif;
    color: #909090;
    font-size: 2vw;
    font-weight: 600;
    cursor: pointer;
}

.social{
    height: 10vh;
    position: relative;
    width: 35vw;
    display: flex;
    justify-content: space-between;

}

.acc{
    height: 10vh;
    width: 10vw;
    margin-top: 1rem;

}
.link i{
    font-size: 4vw;
    color: black;
}
.resume{
    height: 10vh;
    position: relative;
    width: 35vw;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 1rem;
}
.resume div{
    height: 6vh;
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 5px 2px 5px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.5vw;
}
.resume div a{
    text-decoration: none;
    color: black;
}
.rightdiv{
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
    justify-self: center;
    overflow: hidden;
    background-image: url(./Image/elem.gif);
    background-size: cover;
    bottom: 5vw;
}

/* default */
.int{
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;

}

.copy{ 
    height: 25vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;

}

.copy h2{
    font-size: 2.2vw;
    height: 8vh;
    width: 25vw;
    text-align: center;
    align-content: center;
    border: 8px solid black;
    letter-spacing: .6vw;
    /* animation: sspin 1s linear infinite; */
   
}

 
/* about section */



.content-about{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.right-about{
    height: calc(100vh - 12vh);
    margin-top: 12vh;
    width: 70%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.right-about h2{
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 8vw;
    height: 25%;
    align-content: flex-end;
    margin-right: 5vw;
}

.right-about p{
    height: 60%;
    width: 80%;
    font-size: 1.8vw;
    align-content: center;
    margin-right: 5vw;
    margin-top: 2vw;
    color: rgba(0, 0, 0, 0.815);
}
.about-img {
    height: 34vw;
    width: 37vw;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 3vw;
    margin-top: 2vw;
    overflow: hidden;
}

.about-img::before {
    content: "";
    position: absolute;
    left: -6vw;
    height: 45vw;
    width: 45vw;
    background-image: conic-gradient(transparent, transparent, transparent, #FEE600);
    z-index: 0;
    border-radius: 50%;
    animation: rotate 4s linear infinite; 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-img div {
    height: 32vw;
    width: 32vw;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url(./Image/1.png);
    background-size: cover;
    box-shadow: 0px 0px 30px #FEE600;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

/* skill section */

.main-skill{
    height: calc(100vh - 22vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.content-skill{
    display: flex;
    position: relative;
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
}

.img-cont{
    height: 100%;
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-cont p{
    font-size: 1.4vw;
    font-weight: 500;
}
.skill-img{
        height: 6vw;
    }

.skill-img:hover{
    filter : drop-shadow(0px 0px 50px #FEE600);
    transition: all .25s ease-in-out 0.1s;
    transform: scale(1.2,1.2);
}

/* experience */

.exp-cont{
    height: 100%;
    margin-top: 12vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

}

.left-exp{
    height: 100%;
    width: 20%;
    display: flex;
    position: relative;
    justify-content:  flex-end;
    align-items: flex-start;
}

.left-exp h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    writing-mode: vertical-lr;
    text-orientation:mixed;
    font-size: 4vw;
    letter-spacing: .5vw;
    align-content: center;
    margin-right: 5vw;
}


.circle{
    height: 100%;
    width: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.733);
    position: absolute;
    left: -23vw;
}
.d{
    overflow: hidden;
    height: 100%;
    width: 15%;
    margin-left: 26vw;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #C4C4C4;
}

.right-exp{
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: 72%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.exp-container{
    height: 95%;
    width: 100%;
    display: flex;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: pointer;
    overflow-x: auto;
    align-items: center;

}

.exp-container ::-webkit-scrollbar{
    display: none;
}
.exp-card{
    flex: 0 0 80%;
    height: 95%;
    width: 80%;
    gap: 3vw;
    margin: 0vw 3vw 0vw 3vw;
    background-color:rgba(255, 255, 255, 0.678);
    border-radius: 20px;
    border: transparent;
}

.exp-card:hover{
    
    border: 3px solid #FEE600;
    transform: scale(1.02,1.02);
    transition: all 0.1s ease-in-out 0s;
    

}

.scroll-btn{
    font-size: 2.5vw;
    border: none;
    position: absolute;
    background-color: transparent;
    padding: 0vw 1vw 0vw 1vw;
    z-index: 10;
    cursor: pointer;
    color: black;
}

.right{
    right: 0px;
}
.exp-title{
    height: 30%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.exp-p{
    height: 70%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}
.exp-title h3{
    width: 88%;
    align-content: center;
    color: black;
    font-size: 2vw;
}
.exp-p p{
    align-content: flex-start;
    width: 88%;
    height: 100%;
    color: #534e4e;
    font-size: 1.8vw;
}

.exp-title a{
    text-decoration: none;
}

.contact{
    height: calc(100vh - 12vh);
    padding-top: 12vh;
    background-color: #C4C4C4;
    width: 100dvw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-cont{
    height: 90%;
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.815);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.left-cont h2{
    font-size: 3vw;
    align-content: center;
    width: 100%;
    height: 15%;
    text-align: center;
}
.form{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.form p{
    font-size: 2vw;
    width: 75%;
}
.form input{
    width: 72%;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 1vw;
    font-size: 1.2vw;
    letter-spacing: .10vw;
}
.form textarea{
    width: 72%;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 1vw;
    font-size: 1.5vw;
    letter-spacing: .10vw;
    resize: none;
    padding-top: 1vw;
}

.form button{
    height: 6vh;
    width: 10vw;
    font-size: 1.4vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.right-cont{
    height: 90%;
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.815);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.right-cont h3{
    font-size: 3vw;
    height: 20%;
    align-content: center;
}

.right-cont i{
    font-size: 20vw;
    width: 100%;
    align-content: center;
    color: black;
}

.certificate{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: none;
}
.certificate i{
    color: white;
    position: absolute;
    right: 4vw;
    top: 2vw;
    font-size: 2.5vw;
    cursor: pointer;
    z-index: 9999;
}
.cert-img{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cert-img img{
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}



.zoom:hover{
    transform: scale(1.2,1.2);
    transition-duration:.5s;
    transition-delay: 0.2s;
    
}

@media (max-width: 768px){

    .main{
        height: 95vh;
        overflow: hidden;
        width: 100vw;
        position: relative;
    }

    .greyBack{
        opacity: 60%;
        height: 100%;
        width: 90%;
        transform: rotate(74deg);
        top: initial;
        left: 10vw;
        bottom: -34vh;
        z-index: 0;
    }
    .navbar{
        height: 10vh;
        position: fixed;
    }

    .left-nav{
        margin-left: 3vh;
    }

    .home-btn{
        font-size: 4.5vh;
        color: rgb(255, 255, 255);
        display: none;
        
    
    }
    .right-nav{
        justify-content: flex-end;
        margin: initial;
    }
    .nav-btn{
        display: none;
    }

    .right-nav i{
        display: initial;
        margin-right: 4vh;
    }
    .mobile-nav{
        height: 100vh;
        width: 80vw;
        overflow: hidden;
        right: -100vw;
        z-index: 10;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.849);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;

    }
    .mobile-nav i{
        color: white;
        height: 10vh;
        width: 100%;
        font-size: 5vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 8vh;
    }
    .mnav-btn{
        color: white;
        background-color: transparent;
        text-decoration: none;
        height: 10vh;
        width: 70%;
        font-weight: 600;
        font-family: sans-serif;
        text-align: start;
        align-content: center;
        justify-self: center;
        font-size: 3vh;
    }
    .x{
        color: black;
        background-color: white;
        height: 8vh;
        width: 100%;
        font-size: 3vh;
        border-radius: initial;
        margin-bottom: initial;
        padding-top: initial;
        align-content: center;
        justify-self: center;
        padding-left: 12vh;
    }

    .content{
        display: flex;
        position: relative;
        height: 90%;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: 8vh;

    }.leftdiv{
        color: white;
        display: flex;
        position: relative;
        height: 40%;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: initial;
        flex-direction: row;
        padding-bottom: initial;  
        z-index: 1;  
    }

    .self{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 2rem;
        margin-bottom: 1.5rem;
    }
    .name{
        font-size: 4vh;
        width: 34vh;
        padding-bottom: .2rem;
        cursor: none;
        text-align: initial;
        
    }
    .role{
        color: #534e4e;
        width: 60vw;
        font-size: 2vh;
        font-weight: 600;
        cursor: none;
        text-align: initial;
        margin-left: initial;
    }
    .hi{
        font-size: 2.5vh;
        cursor: none;
    }
    .resume{
    height: 5vh;
    position: relative;
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: .5rem;
}
.resume div{
    height: 4vh;
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 2.5vh;
}
.resume div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    
    .social{
        height: 100%;
        width: initial;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 2vh;
    
    }
    .link i{
        padding-top: 1vh;
        font-size: 5vh;
        color: white;
        cursor: none;
    }

    .rightdiv{
        display: flex;
        position: absolute;
        height:50%;
        width: 100%;
        padding-right: initial;
        justify-content: center;
        align-items: center;
        margin-right: initial;
        margin-top: initial;
        z-index: -1;
        margin-bottom: 30vh;
    }

    /* about section */
    .content-about{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    
    .right-about{
        height: 100%;
        margin-top: initial;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .right-about h2{
        color: rgb(255, 255, 255);
        font-size: 8.2vh;
        height: 90%;
        width: 25%;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        letter-spacing: 2vh;
        align-content: flex-start;
        text-align: center;
        margin-right: initial;
    }
    
    .right-about p{
        height: 90%;
        width: 70%;
        font-size: 2.2vh;
        margin-right: initial;
        margin-top: 1vw;
        color: rgba(0, 0, 0, 0.815);
    }
    .about-img{
        height: 95%;
        width: 25%;
        background-color: rgba(0, 0, 0, 0.788);
        align-content: center;
        display: flex;
        position: absolute;
        top: 0vh;
        align-content: flex-start;
        border: initial;
        border-radius: initial;
        border-bottom-right-radius: 5vh;
        background-image: initial;
        background-size: initial;
        margin-left: initial;
        margin-top: initial;
        box-shadow: initial;
    }


.about-img::before {
display: none;
}


.about-img div {
   display: none;
}
    
    /* skill */

    .copy{ 
        height: 20vh;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: flex-end;
    
    }
    
    .copy h2{
        font-size: 2.5vh;
        height: 7vh;
        width: 45vw;
        text-align: center;
        align-content: center;
        border: 8px solid black;
        letter-spacing: .6vw;
    
    }
    .main-skill{
        height: calc(100vh - 22vh);
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: flex-start;
    }
    
    .content-skill{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .img-cont{
        height: 100%;
        width: 30%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .img-cont p{
        font-size: 2vh;
        font-weight: 500;
    }
    .skill-img{
        height: 8vh;
    }
    .skill-img:hover{
        transform: none;
        filter: none;
    }
    

    /* experience */

.exp-cont{
    height: 100%;
    margin-top: initial;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

}

.left-exp{
    height: 100%;
    width: 15%;
    display: flex;
    position: relative;
    justify-content:  flex-start;
    align-items: center;
    margin-top: initial;
    margin-left: 2.6vh;
}

.left-exp h2{
    writing-mode: vertical-lr;
    text-orientation:mixed;
    font-size: 4.8vh;
    letter-spacing: 1vh;
    align-content: center;
    margin-right: initial;
}


.circle{
    height: 60%;
    width: 120%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.733);
    position: absolute;
    align-content: center;
    left: -23vw;
    bottom: 20vh;
}
.d{
    overflow: hidden;
    height: 100%;
    width: 15%;
    margin-left: 26vw;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #C4C4C4;
}

.right-exp{
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: 85%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.exp-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: pointer;
    overflow-y: auto;
    align-items: center;

}

.exp-container ::-webkit-scrollbar{
    display: none;
}
.exp-card{
    flex: 0 0 50%;
    height: 50%;
    width: 90%;
    gap: initial;
    margin: 3vh 0vh 3vh 0vh;
    background-color:rgba(255, 255, 255, 0.678);
    border-radius: 20px;
    
}


.scroll-btn{
    display: none;
}

.right{
    right: 0px;
}
.exp-title{
    height: 30%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.exp-p{
    height: 70%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}
.exp-title h3{
    width: 88%;
    align-content: center;
    color: black;
    font-size: 2vh;
}
.exp-p p{
    align-content: flex-start;
    width: 88%;
    height: 100%;
    color: #534e4e;
    font-size: 1.5vh;
}

.exp-title a{
    text-decoration: none;
}

.contact{
    height: 100vh;
    padding-top: initial;
    background-color: #C4C4C4;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.left-cont{
    height: 55%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.815);
    border-top-right-radius: initial;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.left-cont h2{
    font-size: 4vh;
    align-content: center;
    width: 100%;
    height: 15%;
    text-align: center;
}
.form{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.form p{
    font-size: 2vh;
    width: 85%;
}
.form input{
    width: 82%;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 1vw;
    font-size: 2vh;
    letter-spacing: .10vw;
}
.form textarea{
    width: 82%;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 1vw;
    font-size: 2vh;
    letter-spacing: .10vw;
    resize: none;
    padding-top: 1vw;
}

.form button{
    height: 5vh;
    width: 30vw;
    font-size: 2vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.right-cont{
    height: 40%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.815);
    border-top-left-radius: 30px;
    border-bottom-left-radius: initial;
    border-top-right-radius: 30px;

}
.right-cont h3{
    font-size: 4vh;
    height: 20%;
    align-content: center;
}

.right-cont i{
    font-size: 20vh;
    width: 100%;
    align-content: center;
    color: black;
}

.certificate{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: none;
}
.certificate i{
    color: white;
    position: absolute;
    right: 4vh;
    top: 4vh;
    font-size: 4.5vh;
    cursor: pointer;
    z-index: 9999;
}
.cert-img{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cert-img img{
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
}
    


    .footer-div{
        display: none;
    }

    .zoom:hover{
        transform: none;
    }

}
